@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans:wght@300;500;600&family=Oswald:wght@300;400&display=swap');

@media (max-width: 1200px) {
  body {
    width: 1200px;
    margin: 0 auto;
  }
}


body {
  margin:0;
  background-color: #f9f9f9;
  min-height: 900px;
  height: 100%;
  display: flex;
  flex-direction: column;
  
}
.blogtext {
  min-width: 800px;
}
.imgcontainer {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 700px;
}
.imgcontainer img{
    display: block;
    margin: auto;
    margin-top: 30px;
    min-width: 400px;
    max-width: 700px;
}
footer {
    display: flex;
    background-color: #4fa5b7;
    height: 200px;
    margin-top: 30vh;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-width: 800px;
    width: 100vw;
}
.imgcontainer p{
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 13px;
    color: gray;
    min-width: 800px;
}
p {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 21px;
    color: black;
    text-align: justify;
}
p span {

    font-weight: 550;
    font-size: 40px;
    
}
.blogmain {
  min-width: 800px;
    width: 800px;
    margin: auto;
}
.topnav {
  overflow: hidden;
  background-color: #4fa5b7;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  min-width: 800px;
  width: 100vw;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  color: white;
  
}

footer div {
    border-bottom: 3px solid transparent;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    color: white;
    width: 800px;
    margin: 20px auto 0 auto;
    padding: 20px;
}
footer div a {
    border-bottom: 3px solid transparent;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    color: white;

}

.topnav a:hover {
  border-bottom: 3px solid white;
}

.topnav a.active {
  border-bottom: 3px solid white;
}